body{

background-color: silver;
display: flex;
justify-content: center;
color: white;
}

.container{
background-color: yellow;
height: 850px;
display: flex;
flex-direction: column;
justify-content: space-between;
flex-basis: 70%;
}
.header{
background-color: red;
height: 70px;
display: flex;
justify-content: space-between;
align-items: center;

}
.nav{
    background-color: bisque;
    display: flex;
    flex-basis: 70%;
    height: 40px;
    align-items: center;
    justify-content: space-around;
}
.content{
background-color: rgb(143, 88, 137);
height: 750px;
}